.mainCart {
  display: flex;
  flex-direction: column;
}

.path {
  margin: 2em 2em;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #626262;
}

.cartTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
  color: #000000;
  align-self: center;
  margin: 40px 0;
}

.cartForm {
  display: flex;
  flex-direction: row;
  gap: 238px;
  margin-left: 156px;
}

.formPersonalData {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.formAddres {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}

.formAddresNumbers .formAddresCity {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form.cartForm label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

form.cartForm input::placeholder {
  width: 90px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #959595;
}

form.cartForm .inputPersonalData {
  width: 207px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}

form.cartForm .inputAddressStreet {
  width: 417px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}

form.cartForm .inputAddressDetail {
  width: 182px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin-right: 55px;
}

.formBttn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50px;
  background: #b56a55;
  border-radius: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-top: 1.5em;
}

.bttnBack {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #421153;
  margin-left: 20px;
}
