* {
  font-style: normal;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0 2em;
}

.cardRow {
  display: flex;
  margin-top: 11em;
  gap: 30px;
}

.linkHome {
  width: 51px;
  height: 32px;
  margin-left: 40px;
  margin-top: 40px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #626262;
}

.servicos {
  width: 319px;
  height: 77px;
  left: 40px;
  margin-left: 40px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 77px;
  color: #000000;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  color: #421153;
  font-size: 30px;
  font-style: bolder;
}

.textInvestors {
  text-align: center;
  align-self: center;
  width: 569px;
  height: 59px;
  left: 442px;
  margin-top: 250px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: 77px;
  color: #000000;
}

.investorSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.scheduleSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.scheduleSubTitle {
  width: 573px;
  height: 77px;
  font-weight: 500;
  font-size: 40px;
  line-height: 77px;
  text-align: center;
  color: #000000;
}

.scheduleText {
  width: 574px;
  height: 134px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.calender {
  width: 480px;
  height: 480px;
}

.buttonCalender {
  width: 230px;
  height: 61px;
  border: 3px solid #b56a55;
  border-radius: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #b56a55;
  margin: 30px 0;
}

.scheduleForm {
  width: 407.53px;
  height: 38px;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #421153;
}

.inputSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1em;
}

.textForm {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #421153;
}

.emailInput {
  width: 400.18px;
  text-align: center;
  border: none;
  border-bottom: 1pt solid #421153;
}
.navbarFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  width: 203.98px;
  height: 65px;
  margin-top: 150px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1em;
  justify-content: center;
}
