.general {
  margin: 2em;
}

.path {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #626262;
}

.subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
  color: #000000;
  margin: 0.5em 0;
}

.mainSection {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imgServices {
  height: 445px;
  width: 663px;
  border-radius: 20px;
  filter: grayscale(0.8);
}

.imgServices:hover {
  filter: grayscale(0.2);
}

.text {
  width: 659px;
  height: 195px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: -0.011em;
  text-transform: uppercase;
  color: #000000;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.value {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: #98758e;
}

.button {
  width: 262px;
  height: 61px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  margin-left: 15em;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #b56a55;
  border-radius: 30px;
}
.detailsSection {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.secondSubTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
  margin: 120px 0 80px 0;
}

.stagesDiv {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 2em;
}

.textStagesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin: 0 3em;
}

.clockIcon {
  width: 33px;
  height: 30px;
  color: #421153;
}

.stagesDiv {
  width: 312px;
  height: 312px;
}

.textStages {
  width: 317px;
  height: 357px;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.timeStage {
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.durationStages {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 156px;
  top: 265px;
  width: 1128px;
  height: 568px;
  background: #ffffffe7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

.buttonClose {
  width: 28px;
  height: 27px;
  align-self: flex-end;
  margin: 2px;
  font-weight: 500;
  font-size: 15px;
  color: #b56a55;
  background: #eaeaea;
  border-radius: 5px;
}
.popupContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.popupTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
  display: flex;
  justify-content: center;
  color: #b56a55;
  padding-bottom: 20px;
}

.popupDetails {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.popupServices {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.popupSubTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #421153;
}

.popupvalue {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.011em;
  color: #98758e;
}

.popupImgServices {
  width: 306px;
  height: 195px;
}

.popupButtons {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 50px;
  justify-content: space-evenly;
}

.popupButtonsContinue {
  width: 316px;
  height: 61px;
  border-radius: 30px;
  border: 3px solid #b56a55;
  font-size: 24px;
  line-height: 38px;
  color: #b56a55;
}

.popupButtonsFinish{
  width: 316px;
  height: 61px;
  border-radius: 30px;
  background: #B56A55;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
}