.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 153px;
  align-items: center;
}

.bagIcon {
    position: relative;
    display: inline-block;
}

.shopCount {
  width: 11px;
  height: 14px;
  color: #98758e;
  background: rgba(247, 218, 213, 0.9);
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  top: 20px; 
  right: 0px;
  border-radius: 10px;
}

.logo {
    width: 378px;
    height: 93px;
  }